{{ define "main" }}
<!-- ABOUT -->

<span class="heading-h1">About</span>
<section id="about" class="block">
  {{ if isset .Site.Params "description" }}
    {{ .Site.Params.aboutdescription | safeHTML }}
  {{ end }}
  <br/>
{{ if isset .Site.Params "social" }}
    <p>Find me on:
    {{ $length := (len .Site.Params.social) }}
    {{ range $index, $elem := .Site.Params.social}}
    {{ if eq $elem.name "email" }}
      <a class="icon" target="_blank" rel="noopener" href="mailto:{{ $elem.link }}" aria-label="Email">
        <i class="fas fa-envelope" aria-hidden="true"></i>
      </a>
      {{ else if eq $elem.name "rss" }}
      <a class="icon" target="_blank" rel="noopener" href="{{ $elem.link }}" aria-label="RSS">
        <i class="fas fa-rss" aria-hidden="true"></i>
      </a>
      {{ else if eq $elem.name "scholar" }}
      <a class="icon" target="_blank" rel="noopener" href="{{ $elem.link }}" aria-label="Google Scholar">
        <i class="fas fa-graduation-cap" aria-hidden="true"></i>
      </a>
      {{ else if eq $elem.name "podcast" }}
      <a class="icon" target="_blank" rel="noopener" href="{{ $elem.link }}" aria-label="Google Scholar">
        <i class="fas fa-podcast" aria-hidden="true"></i>
      </a>
      {{ else }}
      <a class="icon" target="_blank" rel="noopener" href="{{ $elem.link }}" aria-label="{{ $elem.name }}">
        <i class="fab fa-{{ lower $elem.name }}" aria-hidden="true"></i>
      </a>
      {{ end }}
      {{ if (lt (add $index 2) $length) }}
        {{- print "," -}}
      {{ else if (lt (add $index 1) $length) }}
        {{- print "and" -}}
      {{ else }}
      {{ end }}
    {{ end }}
    </p>
{{ end }}
</section>
<!-- WRITING -->
<span class="heading-h1">Writing</span>
<section id="writing" class="block">
    <span class="h2 text-[#383838] block font-bold">Most recent</span>
    {{ $showAllPostsOnHomePage := false }}
    {{ if (isset .Site.Params "showallpostsonhomepage") }}
      {{ $showAllPostsOnHomePage = .Site.Params.ShowAllPostsOnHomePage }}
    {{ end }}
    {{ $dataFormat := .Site.Params.dateFormat | default "2006-01-02" }}
    {{ $mainPosts := (sort ( where site.RegularPages "Type" "in" site.Params.mainSections ) "Date" "desc") }}
    {{ if $showAllPostsOnHomePage }}
    <ul class="post-list">
      {{ range (.Paginate $mainPosts).Pages }}
        <li class="post-item">
          <div class="meta mt-0 mb-[1rem]"><time datetime="{{ time .Date }}" itemprop="datePublished">{{ .Date.Format $dataFormat }}</time></div>
          <span><a href="{{ .Permalink }}">{{ if .Title }} {{- .Title -}} {{ else }} {{- print "Untitled" -}}{{ end }}</a></span>
        </li>
      {{ end }}
    </ul>

    {{ partial "pagination.html" . }}

    {{ else }}
    <ul class="p-0">
      {{ .Scratch.Set "count" 5 }}
      {{ if isset .Site.Params "postsonhomepage" }}
        {{ .Scratch.Set "count" .Site.Params.postsOnHomePage }}
      {{ end }}
      {{ range (first (.Scratch.Get "count") $mainPosts) }}
        <li class="mb-[1rem] ml-0 list-none flex mb-[5px]">
          <div class="block mr-16 min-w-[100px] text-sm text-left"><time datetime="{{ time .Date }}" itemprop="datePublished">{{ .Date.Format $dataFormat }}</time></div>
          <span class="text-sm"><a class="underline hover:text-red-700" href="{{ .Permalink }}">{{ if .Title }} {{- .Title -}} {{ else }} {{- print "Untitled" -}}{{ end }}</a></span>
        </li>
      {{ end }}
    </ul>
    {{ end }}
  </section>

  <!-- STATS -->
  <span class="heading-h1">Current Stats</span>
  <section id="stats" class="block">
      <div class="grid grid-cols-12 gap-4 max-w-9xl mx-auto border-solid border-blue-500">
        <!-- <div class="card-quarter bg-black">
          <div id="">Card 1</div>
        </div>
        <div class="card-quarter bg-black">
          <div id="">Card 2</div>
        </div>
        <div class="card-quarter bg-black">
          <div id="">Card 3</div>
        </div>
        <div class="card-quarter bg-black">
          <div id="">Card 4</div>
        </div>-->
        <div class="card-full">
          <div id="calories"></div>
        </div>
        <div class="card-full">
          <div id="bodyweight-trend"></div>
        </div>
        <div class="card-full">
          <div id="bodyfat-trend"></div>
        </div>
        <div class="card-half">
          <div id="step-count"></div>
        </div>
        <div class="card-half">
          <div id="sleep-hours"></div>
        </div>
        <div class="card-half">
          <div id="pushup-streaks"></div>
        </div>
        <div class="card-half">
          <div id="fiveam-streaks"></div>
        </div>
        <div class="card-half">
          <div id="water-consumption"></div>
        </div>
        <div class="card-half">
          <div id="page-streaks"></div>
        </div>
        <div class="card-half">
          <div id="strength-goal"></div>
        </div>
        <div class="card-half">
          <div id="body-strength-goal"></div>
        </div>
      </div>
      <div class="card-full">
        <div id="training-plan"></div>
      </div>
      <div class="card-full">
        <div id="nutrition-plan"></div>
      </div>
  </section>
  {{ if .Site.Params.MixpanelApiKey }}
  <script>mixpanel.track('homepage')</script>
  {{end}}
{{ end }}
