{{ define "main" }}
  <section id="stats" class="block">
      <div class="grid grid-cols-12 gap-4 max-w-9xl mx-auto border-solid border-blue-500">
        <div class="card-half">
          <div id="pushup-streaks"></div>
        </div>
        <div class="card-half">
          <div id="water-consumption"></div>
        </div>
        <div class="card-full">
          <div id="calories"></div>
        </div>
        <div class="card-half">
          <div id="fiveam-streaks"></div>
        </div>
        <div class="card-half">
          <div id="page-streaks"></div>
        </div>
        <div class="card-half">
          <div id="strength-goal"></div>
        </div>
        <div class="card-full">
          <div id="bodyweight-trend"></div>
        </div>
        <div class="card-full">
          <div id="bodyfat-trend"></div>
        </div>
      </div>
  </section>
{{ end }}
