.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;

    .container {
        padding: 2px 16px;
    }
}

.column {
    float: left;
    padding: 0 10px;

    &.quarter {
        width: 25%
    }

    &.third {
        width: 33%
    }

    &.half {
        width: 50%
    }

    &.two-thirds {
        width: 60%;
    }

    &.full {
        width: 100%;
    }
}

.row {
    margin: 0 -5px;
    padding-top: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}