.summary-label-positive {
    color: green;
}

.summary-data-positive {
    border-right: 5px solid green;
    color: green;
}

.summary-label-negative {
    color: red;
}

.summary-data-negative {
    border-right: 5px solid red;
    color: red;
}