<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}
<body class="main-body">
  <div class="main-column">

    {{ partial "header.html" . }}

    {{ block "main" . }}
    {{ end }}

    <!-- {{ partial "footer.html" . }} -->

  </div>
</body>

<link rel="stylesheet" href={{ "lib/font-awesome/css/all.min.css" | relURL }}>
<script src={{ "lib/jquery/jquery.min.js" | relURL }}></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src={{ "js/main.js" | relURL }}></script>
<script src={{ "js/charts.js" | relURL }}></script>
<script src={{ "js/summaries.js" | relURL }}></script>
</html>
